<div ng-controller="advertiserController" ng-init="loadData();getRole();"
     class="main-panel">


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-minimize">
                <button onclick="sidebarChange()" class="btn btn-fill btn-icon"><i class="ti-menu"></i></button>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">
                    Advertisers and status
                </a>
            </div>
        </div>
    </nav>

    <div class="content" style="margin-top: 20px">
        <div class="row" style="margin-left: 15px; margin-right: 15px">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="pull-right">
                            <button class="btn btn-success btn-sm btn-fill"
                                    ng-click="applyClick();"
                                    ng-disabled="disableButtons"
                                    style="z-index: 10000; position: relative">
                                Apply
                            </button>
                            <button class="btn btn-primary btn-sm btn-fill" style="z-index: 10000; position: relative"
                                    ng-click="">
                                Cancel
                            </button>
                        </div>
                        <h4 class="card-title">Advertisers and status changes</h4>
                    </div>
                    <div class="card-content">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3" style="padding-right: 0px;">
            <div class="content">
                <div class="row margin-backdown" style="margin-left: 15px; margin-right: 0px">
                    <div class="col-md-12">
                        <div class="card" style="min-height: 550px;">
                            <div class="card-header">
                                <h4 class="card-title">Advertisers</h4>
                            </div>
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="btn btn-info btn-sm"
                                           ng-click="addAdvertiser();"
                                           ng-disabled="disableButtons"
                                           style="cursor:pointer; width: 47%;">Add</a>
                                        <a class="btn btn-info btn-sm" ng-click="cancelAdvertisersData();"
                                           style="cursor:pointer; width: 47%;">Cancel</a>
                                    </div>
                                </div>
                                <div>
                                    <br/>
                                    <select multiple class="form-control white-input-no-border" id="selectAdvertisers"
                                        style="min-height: 405px;">
                                        <option ng-repeat="a in advertisers"
                                                ng-click="onAdvertiserClick(a, $index);"
                                                style="cursor:pointer;">{{a.advshortname}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5" style="padding-left: 0px!important; padding-right: 0px!important;">
            <div class="content">
                <div class="card" style="min-height: 550px; margin-left: 15px;">
                    <div class="card-header">
                        <h4 class="card-title">Advertiser data</h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-11" style="margin-left: 15px;">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="advertiserName">Advertiser name</label>
                                        <input type="text" class="form-control white-input-no-border" id="advertiserName"
                                               ng-model="advertiserName"
                                               ng-change="updateAdvertiserName();"
                                               ng-disabled="selectedAdvertiserIndex === -1"
                                               ng-class="{'white-input-no-border': selectedAdvertiserIndex === -1}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="advertiserShortName">Advertiser short name</label>
                                        <input type="text" class="form-control white-input-no-border" id="advertiserShortName"
                                               ng-model="advertiserShortName"
                                               ng-disabled="selectedAdvertiserIndex === -1"
                                               ng-change="updateAdvertiserShortName();"
                                               ng-class="{'white-input-no-border': selectedAdvertiserIndex === -1}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="advertiserSecretName">Advertiser secret name</label>
                                        <input type="text" class="form-control white-input-no-border" id="advertiserSecretName"
                                               ng-model="advertiserSecretName"
                                               ng-disabled="selectedAdvertiserIndex === -1"
                                               ng-change="updateAdvertiserSecretName();"
                                               ng-class="{'white-input-no-border': selectedAdvertiserIndex === -1}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="risk">RISK</label>
                                        <input type="text" class="form-control white-input-no-border" id="risk"
                                               ng-model="advertiserRisk" ng-disabled="selectedAdvertiserIndex === -1"
                                               ng-change="updateAdvertiserRisk();"
                                               ng-class="{'white-input-no-border': selectedAdvertiserIndex === -1}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="advertiserUrl">Advertiser Url</label>
                                        <input type="text" class="form-control white-input-no-border" id="advertiserUrl"
                                               ng-model="advertiserUrl" ng-disabled="selectedAdvertiserIndex === -1"
                                               ng-change="updateAdvertiserUrl();"
                                               ng-class="{'white-input-no-border': selectedAdvertiserIndex === -1}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="advApiKey">Advertiser api_key</label>
                                        <input type="text" class="form-control white-input-no-border" id="advApiKey"
                                               ng-model="advertiserApiKey" ng-disabled="selectedAdvertiserIndex === -1"
                                               maxlength="200" ng-change="updateAdvertiserApiKey();"
                                               ng-class="{'white-input-no-border': selectedAdvertiserIndex === -1}"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="padding-left: 0px!important; padding-right: 0px!important;">
            <div class="content">
                <div class="row margin-backdown">
                    <div class="col-md-12">
                        <div class="card" style="min-height: 550px; margin-right: 15px;">
                            <div class="card-header">
                                <h4 class="card-title">Advertiser Status</h4>
                            </div>
                            <div class="card-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-info btn-sm"
                                                ng-disabled="selectedAdvertiserIndex === -1"
                                                ng-click="addStatusClick();"
                                                style="cursor:pointer; width: 49%;">Add
                                        </button>
                                        <button type="button" class="btn btn-info btn-sm"
                                                ng-click="removeStatus();" ng-disabled="selectedAdvertiserIndex === -1"
                                                style="cursor:pointer; width:49%;">Delete
                                        </button>
                                    </div>
                                </div>
                                <br/>
                                <div class="row" style="height: 315px;overflow-y: auto;">
                                    <div class="col-md-12" ng-repeat="status in advertiserStatuses track by $index">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <label>
                                                    <input class="white-input-no-border"
                                                           type="checkbox" name="selected"
                                                           ng-click="isSelected($index);"
                                                           style="width:5%;"/>
                                                    <input type="text" class="form-control white-input-no-border" id="statusName"
                                                           ng-model="status.name" placeholder="Name"
                                                           style="width:29%;"/>
                                                    <select class="form-control white-input-no-border" ng-model="status.realStatus"
                                                        style="width: 35%;">
                                                        <option value="" disabled selected>{{status.realStatus}}</option>
                                                        <option ng-repeat="s in advertiserRealStatuses"
                                                                value={{s}}>
                                                            {{s}}
                                                        </option>
                                                    </select>
                                                    <input type="text" class="form-control white-input-no-border" id="statusType"
                                                           ng-model="status.type" placeholder="Type"
                                                           style="width:25%;"/>
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>