<div ng-controller="arbitratorExecutiveController" class="main-panel">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-minimize">
                <button class="btn btn-fill btn-icon" onclick="sidebarChange()"><i class="ti-menu"></i></button>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand">
                    Home
                </a>
            </div>
        </div>
    </nav>

    <div class="content">
        <div class="row" style="margin-left: 15px; margin-right: 15px; margin-top: 25px">
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-check"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p>Verified</p>
                                    $ 0
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr class="card-footer-hr"/>
                        <div class="stats">
                            <i class="ti-calendar"></i> Last month
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-check-box"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p>Confirmed</p>
                                    $ 0
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr class="card-footer-hr"/>
                        <div class="stats">
                            <i class="ti-calendar"></i> Current month
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-stats-up"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p>Plan</p>
                                    $ 0
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr class="card-footer-hr"/>
                        <div class="stats">
                            <i class="ti-calendar"></i> Current month
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 15px; margin-right: 15px">
            <div class="col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-money"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p style="color: darkred;">Bonus</p>
                                    $ 0
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-dashboard"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p style="color:darkred">Profit</p>
                                   0 %
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>