<div ng-controller="buyerHomeController" class="main-panel" ng-init="init();loadPayrolls();getBuyers(); getCurrency();">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-minimize">
                <button class="btn btn-fill btn-icon" onclick="sidebarChange()"><i class="ti-menu"></i></button>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand">
                    Home
                </a>
            </div>
        </div>
    </nav>

    <div class="content">
        <div class="row" style="margin-left: 15px; margin-right: 15px; margin-top: 25px">
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-check-box"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p>Confirmed</p>
                                    {{confirmed}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr class="card-footer-hr"/>
                        <div class="stats form-inline">
                            <i class="ti-calendar form-group"></i>
                            <p class="text-red form-group">Current month</p>
                            <div class="pull-right" ng-click="toPostbackReport();">more</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-primary text-center">
                                    <i class="ti-calendar"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p>Plan</p>
                                    {{plan}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr class="card-footer-hr"/>
                        <div class="stats form-inline">
                            <i class="ti-calendar form-group"></i>
                            <p class="text-red form-group">Current month</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-check-box"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p>Verified</p>
                                    {{verified}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr class="card-footer-hr"/>
                        <div class="stats form-inline">
                            <i class="ti-calendar form-group"></i>
                            <p class="text-red form-group">Current month</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 15px; margin-right: 15px">
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-target"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p style="color:darkgreen;">Spent</p>
                                    {{ spent }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr class="card-footer-hr"/>
                        <div class="stats text-right">
                            <div ng-click="toSpentByBuyer();">more</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-dashboard"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p style="color:darkred">Profit</p>
                                    {{profit}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <hr class="card-footer-hr"/>
                        <div class="stats text-right">
                            <div ng-click="toRevSpent();">more</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-primary text-center">
                                    <i class="ti-money"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p style="color:darkred">Bonus</p>
                                    {{ bonus }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="content">
            <div class="row margin-backdown" style="margin-left: 15px; margin-right: 15px">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="pull-right">
                                <select class="form-control pagination-size" data-ng-model="selectedSize"
                                        data-ng-options="v as k for (k, v) in sizeOptions"
                                        style="z-index: 10000; position: relative">
                                </select>
                            </div>
                            <h4 class="card-title">Buyers Payrolls</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-content table-responsive table-full-width">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th><a href="">#</a></th>
                                        <th>
                                            <a href=""
                                               ng-click="sortColumn = 'buyer_id';changeOrder();loadPayrolls();">
                                    <span ng-show="sortColumn == 'buyer_id' && sortReverse == 'ASC'"
                                          class="fa fa-caret-up"></span>
                                                <span ng-show="sortColumn == 'buyer_id' && sortReverse == 'DESC'"
                                                      class="fa fa-caret-down"></span>
                                                <span ng-show="sortColumn == 'buyer_id' && sortReverse == ''"></span>
                                                Buyer
                                            </a>
                                        </th>
                                        <th>
                                            <a href="" ng-click="sortColumn = 'date';changeOrder();loadPayrolls();">
                                <span ng-show="sortColumn == 'date' && sortReverse == 'ASC'"
                                      class="fa fa-caret-up"></span>
                                                <span ng-show="sortColumn == 'date' && sortReverse == 'DESC'"
                                                      class="fa fa-caret-down"></span>
                                                <span ng-show="sortColumn == 'date' && sortReverse == ''"></span>
                                                Date
                                            </a>
                                        </th>
                                        <th><a>Type</a></th>
                                        <th><a>Sum</a></th>
                                        <th><a>Currency</a></th>
                                        <th><a>Description</a></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-show="payrolls.length != 0" ng-repeat="item in payrolls"
                                        ng-click="clickRow(item)" data-toggle="modal" data-target="#payroll-modal">

                                        <td>{{$index+1}}</td>
                                        <td>{{item.bayerName}}</td>
                                        <td>{{item.date}}</td>
                                        <td>{{item.typeName}}</td>
                                        <td>{{item.sum}}</td>
                                        <td>{{item.code}}</td>
                                        <td>{{item.description}}</td>
                                    </tr>
                                    <tr ng-show="payrolls.length == 0">
                                        <td colspan="7">
                                            <div class="loader text-center" ng-show="showPayrollsLoader"></div>
                                            <div class="text-center" ng-show="!showPayrollsLoader">No data</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="fixed-table-pagination text-center" ng-show="payrolls.length != 0">
                            <div class="pagination">
                                <uib-pagination total-items="totalPagination" max-size="5"
                                                ng-model="selectedPage" items-per-page="selectedSize">
                                </uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>