<div ng-controller="conversionController" ng-init="loadConversions();initBuyerNames();loadAfids();"
     class="main-panel">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-minimize">
                <button onclick="sidebarChange()" class="btn btn-fill btn-icon"><i class="ti-menu"></i></button>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">
                    Conversions
                </a>
            </div>
        </div>
    </nav>

    <div class="content" style="margin-top: 20px">
        <div class="row" style="margin-left: 15px; margin-right: 15px">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="pull-right">
                            <button class="btn btn-success btn-md btn-fill" ng-click="loadConversions();"
                                    style="z-index: 10000; position: relative">
                                Apply
                            </button>
                            <button class="btn btn-primary btn-md btn-fill" style="z-index: 10000; position: relative"
                                    ng-click="">
                                Export
                            </button>
                        </div>
                        <h4 class="card-title">Conversion filters</h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <form class="form-inline">
                                <div class="form-group" style="margin-left: 25px;">
                                    <select class="selectpicker white-input-no-border" multiple
                                            data-style="btn-info btn-fill btn-block"
                                            data-size="5"
                                            title="Buyer"
                                            data-header="Buyers"
                                            ng-model="selectedBuyerNames"
                                            style="width: 130%;margin-left: 5px;">
                                        <option class="small-font" ng-repeat="b in buyerNames" data-select-watcher
                                                data-last="{{$last}}" value="{{b.name}}">{{b.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="selectpicker white-input-no-border" multiple
                                            data-style="btn-info btn-fill btn-block"
                                            data-size="5"
                                            title="UTC"
                                            data-header="UTC"
                                            ng-model="selectedUtcValues"
                                            style="width: 130%;margin-left: 5px;">
                                        <option class="small-font" ng-repeat="utc in utcValues" data-select-watcher
                                                data-last="{{$last}}" value="{{utc}}">{{utc}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="selectpicker white-input-no-border" multiple
                                            data-style="btn-info btn-fill btn-block"
                                            data-size="5"
                                            title="Afids"
                                            data-header="Afids"
                                            ng-model="selectedBuyerAfids"
                                            style="width: 130%;margin-left: 5px;">
                                        <option class="small-font" ng-repeat="a in buyerAfids" data-select-watcher
                                                data-last="{{$last}}" value="{{a.afid}}">{{a.afname}} ({{a.afid}})
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control white-input-no-border" data-ng-model="selectedDate"
                                            data-ng-options="v as k for (k, v) in dateOptions"
                                            style="margin-bottom: 14px;">
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6" style="width: 225px; margin-bottom: 15px;">
                                            <md-datepicker ng-model="dpFromDate" date-format="yyyy-MM-dd"
                                                           ng-disabled="selectedDate !== 'custom'"
                                                           md-placeholder="From"></md-datepicker>
                                        </div>
                                        <div class="col-md-6"
                                             style="width:225px; margin-left: -27px; margin-bottom: 15px;">
                                            <md-datepicker ng-model="dpToDate"
                                                           date-format="yyyy-MM-dd"
                                                           ng-disabled="selectedDate !== 'custom'"
                                                           md-placeholder="From"></md-datepicker>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <form class="form-inline">
                                    <div class="form-group">
                                        <input type="text" placeholder="Aff.network"
                                               class="form-control white-input-no-border"
                                               ng-model="selectedAffNetworkValue"
                                               style=" width: 150px;"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Status"
                                               class="form-control white-input-no-border"
                                               ng-model="selectedStatusValue"
                                               style=" width: 150px;"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" placeholder="Prefix"
                                               class="form-control white-input-no-border"
                                               ng-model="selectedPrefixValue"
                                               style=" width: 150px;"/>
                                    </div>
                                    <div class="form-group ">
                                        <input type="text" placeholder="Offer Name"
                                               class="form-control white-input-no-border"
                                               ng-model="selectedOfferNameValue"
                                               style=" width: 150px;"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="row" style="margin-left: 15px; margin-right: 15px">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="pull-right">
                            <select class="form-control white-input-no-border" data-ng-model="selectedSize"
                                    data-ng-options="v as k for (k, v) in sizeOptions">
                            </select>
                        </div>
                        <h4 class="card-title">All Conversions</h4>
                    </div>
                    <div class="card-content">
                        <div class="bootstrap-table">
                            <div class="fixed-table-container" style="padding-bottom: 0;">
                                <div class="fixed-table-header" style="display: none;">
                                    <table></table>
                                </div>
                                <div class="fixed-table-body">
                                    <div class="fixed-table-loading" style="top: 41px;">Loading, please wait...</div>
                                    <table id="bootstrap-table" class="table table-hover"
                                           style="height:660px !important;border-collapse: collapse !important;">
                                        <thead class="thead-default">
                                        <tr>
                                            <th>
                                                <a href=""
                                                   ng-click="sortType = 'CONVERSION_ID'; changeOrder();loadConversions()">
                                    <span ng-show="sortType == 'CONVERSION_ID' && sortReverse == 'ASC'"
                                          class="fa fa-caret-up"></span>
                                                    <span ng-show="sortType == 'CONVERSION_ID' && sortReverse == 'DESC'"
                                                          class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'CONVERSION_ID' && sortReverse == ''"></span>
                                                    ID
                                                </a>
                                            </th>

                                            <th>
                                                <a href=""
                                                   ng-click="sortType = 'CONVERSION_PREFIX'; changeOrder();loadConversions()">
                    <span ng-show="sortType == 'CONVERSION_PREFIX' && sortReverse == 'ASC'"
                          class="fa fa-caret-up"></span>
                                                    <span ng-show="sortType == 'CONVERSION_PREFIX' && sortReverse == 'DESC'"
                                                          class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'CONVERSION_PREFIX' && sortReverse == ''"></span>
                                                    Prefix
                                                </a>
                                            </th>

                                            <th>
                                                <a href=""
                                                   ng-click="sortType = 'CONVERSION_AFID'; changeOrder();loadConversions()">
                                    <span ng-show="sortType == 'CONVERSION_AFID' && sortReverse == 'ASC'"
                                          class="fa fa-caret-up"></span>
                                                    <span ng-show="sortType == 'CONVERSION_AFID' && sortReverse == 'DESC'"
                                                          class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'CONVERSION_AFID' && sortReverse == ''"></span>
                                                    AfID
                                                </a>
                                            </th>

                                            <th>
                                                <a href=""
                                                   ng-click="sortType = 'AFFILIATES_AFNAME'; changeOrder();loadConversions()">
                    <span ng-show="sortType == 'AFFILIATES_AFNAME' && sortReverse == 'ASC'"
                          class="fa fa-caret-up"></span>
                                                    <span ng-show="sortType == 'AFFILIATES_AFNAME' && sortReverse == 'DESC'"
                                                          class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'AFFILIATES_AFNAME' && sortReverse == ''"></span>
                                                    Buyer
                                                </a>
                                            </th>

                                            <th style="text-align: center; vertical-align: middle;">
                                                <a href=""
                                                   ng-click="sortType = 'CONVERSION_DATA_CREATION'; changeOrder();loadConversions()">
                    <span ng-show="sortType == 'CONVERSION_DATA_CREATION' && sortReverse == 'ASC'"
                          class="fa fa-caret-up"></span>
                                                    <span ng-show="sortType == 'CONVERSION_DATA_CREATION' && sortReverse == 'DESC'"
                                                          class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'CONVERSION_DATA_CREATION' && sortReverse == ''"></span>
                                                    Date
                                                </a>
                                            </th>

                                            <th>
                                                <a href=""
                                                   ng-click="sortType = 'CONVERSION_SUM'; changeOrder();loadConversions()">
                                    <span ng-show="sortType == 'CONVERSION_SUM' && sortReverse == 'ASC'"
                                          class="fa fa-caret-up"></span>
                                                    <span ng-show="sortType == 'CONVERSION_SUM' && sortReverse == 'DESC'"
                                                          class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'CONVERSION_SUM' && sortReverse == ''"></span>
                                                    Payout
                                                </a>
                                            </th>

                                            <th>
                                                <a href=""
                                                   ng-click="sortType = 'CURRENCY_CODE'; changeOrder();loadConversions()">
                                    <span ng-show="sortType == 'CURRENCY_CODE' && sortReverse == 'ASC'"
                                          class="fa fa-caret-up"></span>
                                                    <span ng-show="sortType == 'CURRENCY_CODE' && sortReverse == 'DESC'"
                                                          class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'CURRENCY_CODE' && sortReverse == ''"></span>
                                                    Currency
                                                </a>
                                            </th>

                                            <th>
                                                <a href=""
                                                   ng-click="sortType = 'ADV_STATUS_REAL_STATUS'; changeOrder();loadConversions()">
                    <span ng-show="sortType == 'ADV_STATUS_REAL_STATUS' && sortReverse == 'ASC'"
                          class="fa fa-caret-up"></span>
                                                    <span ng-show="sortType == 'ADV_STATUS_REAL_STATUS' && sortReverse == 'DESC'"
                                                          class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'ADV_STATUS_REAL_STATUS' && sortReverse == ''"></span>
                                                    Status
                                                </a>
                                            </th>

                                            <th>
                                                <a href=""
                                                   ng-click="sortType = 'ADVERTS_SHORT_NAME'; changeOrder();loadConversions()">
                    <span ng-show="sortType == 'ADVERTS_SHORT_NAME' && sortReverse == 'ASC'"
                          class="fa fa-caret-up"></span>
                                                    <span ng-show="sortType == 'ADVERTS_SHORT_NAME' && sortReverse == 'DESC'"
                                                          class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'ADVERTS_SHORT_NAME' && sortReverse == ''"></span>
                                                    Advert
                                                </a>
                                            </th>

                                            <th>
                                                <a href=""
                                                   ng-click="sortType = 'OFFERS_ADV_NAME'; changeOrder();loadConversions()">
                                    <span ng-show="sortType == 'OFFERS_ADV_NAME' && sortReverse == 'ASC'"
                                          class="fa fa-caret-up"></span>
                                                    <span ng-show="sortType == 'OFFERS_ADV_NAME' && sortReverse == 'DESC'"
                                                          class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'OFFERS_ADV_NAME' && sortReverse == ''"></span>
                                                    OfferID
                                                </a>
                                            </th>

                                            <th>
                                                <a class="text-nowrap" href=""
                                                   ng-click="sortType = 'SOURCES_NAME'; changeOrder();loadConversions()">
                                    <span ng-show="sortType == 'SOURCES_NAME' && sortReverse == 'ASC'"
                                          class="fa fa-caret-up"></span>
                                                    <span ng-show="sortType == 'SOURCES_NAME' && sortReverse == 'DESC'"
                                                          class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'SOURCES_NAME' && sortReverse == ''"></span>
                                                    Traffic Source
                                                </a>
                                            </th>
                                            <th>
                                                <a href=""
                                                   ng-click="sortType = 'EXCHANGE_RATE'; changeOrder();loadConversions()">
                                    <span ng-show="sortType == 'EXCHANGE_RATE' && sortReverse == 'ASC'"
                                          class="fa fa-caret-up"></span>
                                                    <span ng-show="sortType == 'EXCHANGE_RATE' && sortReverse == 'DESC'"
                                                          class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'EXCHANGE_RATE' && sortReverse == ''"></span>
                                                    Rate
                                                </a>
                                            </th>

                                            <th>
                                                <a class="text-nowrap" href=""
                                                   ng-click="sortType = 'CONVERSION_DATE_CHANGE'; changeOrder();loadConversions()">
                    <span ng-show="sortType == 'CONVERSION_DATE_CHANGE' && sortReverse == 'ASC'"
                          class="fa fa-caret-up"></span>
                                                    <span ng-show="sortType == 'CONVERSION_DATE_CHANGE' && sortReverse == 'DESC'"
                                                          class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'CONVERSION_DATE_CHANGE' && sortReverse == ''"></span>
                                                    Data Change
                                                </a>
                                            </th>

                                            <th>
                                                <a href=""
                                                   ng-click="sortType = 'CONVERSION_CLICK_ID'; changeOrder();loadConversions()">
                    <span ng-show="sortType == 'CONVERSION_CLICK_ID' && sortReverse == 'ASC'"
                          class="fa fa-caret-up"></span>
                                                    <span ng-show="sortType == 'CONVERSION_CLICK_ID' && sortReverse == 'DESC'"
                                                          class="fa fa-caret-down"></span>
                                                    <span ng-show="sortType == 'CONVERSION_CLICK_ID' && sortReverse == ''"></span>
                                                    ClickID
                                                </a>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-toggle="modal" ng-repeat="item in conversions"
                                            ng-show="conversions.length !== 0"
                                            ng-click="getRowInfo(item.conversionId);"
                                            data-target="#conversions-modal">
                                            <td>{{item.conversionId}}</td>
                                            <td>{{item.prefix}}</td>
                                            <td>{{item.afId}}</td>
                                            <td>{{item.buyer}}</td>
                                            <td class="text-nowrap">{{formatViewDate(item.date)}}</td>
                                            <td>{{item.payout}}</td>
                                            <td>{{item.code}}</td>
                                            <td>{{item.status}}</td>
                                            <td>{{item.advert}}</td>
                                            <td class="text-nowrap">{{item.offerId}}</td>
                                            <td>{{item.trafficSource}}</td>
                                            <td>{{item.rate}}</td>
                                            <td>{{item.change}}</td>
                                            <td>{{item.clickId}}</td>
                                        </tr>
                                        <tr ng-show="conversions.length === 0 || conversions === undefined">
                                            <td colspan="15">
                                                <div class="loader text-center" ng-show="showConversionLoader"></div>
                                                <div class="text-center"
                                                     ng-show="!showConversionLoader && conversions.length == 0">No data
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="bootstrap-table fixed-table-pagination text-center"
                                         ng-show="conversions.length !== 0 && conversions !== undefined">
                                        <div class="pagination">
                                            <uib-pagination total-items="totalPagination" max-size="5"
                                                            ng-model="selectedPage" items-per-page="selectedSize"
                                                            ng-click="loadConversions();">
                                            </uib-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="conversions-modal" class="modal fade" role="dialog" style="background: rgba(0, 0, 0, 0.6);">
        <div class="modal-dialog" style="width:90%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Conversion's postbacks</h4>
                </div>
                <div class="modal-body">
                    <div class="card-content table-responsive table-full-width">
                        <table class="table" style="margin-bottom: 0!important;">
                            <thead>
                            <th><a>Prefix</a></th>
                            <th><a>Afid</a></th>
                            <th><a>Date</a></th>
                            <th><a>Time</a></th>
                            <th><a>Currency</a></th>
                            <th><a>Status</a></th>
                            <th><a>Offer Id</a></th>
                            <th><a>Offer Name</a></th>
                            <th><a>Click Id</a></th>
                            <th><a>Transaction Id</a></th>
                            <th><a>Duplicate</a></th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in rowInfo">
                                <td>{{item.prefix}}</td>
                                <td>{{item.afid}}</td>
                                <td>{{item.date}}</td>
                                <td>{{item.time}}</td>
                                <td>{{item.currency}}</td>
                                <td>{{item.status}}</td>
                                <td>{{item.offerId}}</td>
                                <td>{{item.offerName}}</td>
                                <td>{{item.clickId}}</td>
                                <td>{{item.transactionId}}</td>
                                <td>{{item.duplicate}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>