<div ng-controller="dashboardController" ng-init="initData();getDashboardChartData();fillTable();" class="main-panel">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-minimize">
                <button class="btn btn-fill btn-icon" onclick="sidebarChange()"><i class="ti-menu"></i></button>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand">
                    Buyer Dashboard
                </a>
            </div>
        </div>
    </nav>

    <div class="content">
        <div class="row" style="margin-left: 15px; margin-right: 15px; margin-top: 25px">
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-pulse"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p>Revenue</p>
                                    {{revenue}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-calendar"></i>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <div class="numbers">
                                    <p>Plan revenue</p>
                                    {{revenuePlan}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-money"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p>Bonus</p>
                                    {{bonus}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 15px; margin-right: 15px">
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-dashboard"></i>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <div class="numbers">
                                    <p>Completed Revenue</p>
                                    {{revenueCompleted}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-angle-up"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p>ROI today</p>
                                    {{roiToday}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="icon-big icon-primary text-center">
                                    <i class="ti-angle-double-up"></i>
                                </div>
                            </div>
                            <div class="col-xs-9">
                                <div class="numbers">
                                    <p>ROI yesterday</p>
                                    {{roiYesterday}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-right: 15px;margin-left: 15px">
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-header" style="padding-top: 5px">
                        <h4 class="card-title">Revenue</h4>
                    </div>
                    <div class="card-content" style="padding-top: 5px">
                        <div class="ct-chart ct-golden-section" id="revenueChart"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-header" style="padding-top: 5px">
                        <h4 class="card-title">Spent</h4>
                    </div>
                    <div class="card-content" style="padding-top: 5px">
                        <div class="ct-chart ct-golden-section" id="spentChart"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-header" style="padding-top: 5px">
                        <h4 class="card-title">Profit</h4>
                    </div>
                    <div class="card-content" style="padding-top: 5px">
                        <div class="ct-chart ct-golden-section" id="profitChart"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-right: 15px;margin-left: 15px">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="pull-right">
                            <form class="form-inline">
                                <div class="form-group">
                                    <input type="number" class="form-control white-input-no-border"
                                           ng-model="selectedYear"
                                           ng-change="fillTable();"
                                           style="width: 55%; margin-left: 50%;position: relative; z-index: 10000"/>
                                </div>
                            </form>
                        </div>
                        <h4 class="card-title">Settlement Slip</h4>
                        <p class="category">{{buyerName}}</p>
                    </div>
                    <div class="card-content">
                        <div class="card-content table-responsive table-full-width" style="padding-top: 5px">
                            <table class="table" style="padding-top: 5px">
                                <thead>
                                <tr style="text-align: center; vertical-align: middle">
                                    <th>
                                        <a href="">Month</a>
                                    </th>

                                    <th>
                                        <a href="">Revenue</a>
                                    </th>
                                    <th>
                                        <a href="">Spent</a>
                                    </th>
                                    <th>
                                        <a href="">Profit</a>
                                    </th>
                                    <th>
                                        <a href="">Bonus</a>
                                    </th>
                                    <th>
                                        <a href="">Paid</a>
                                    </th>
                                    <th>
                                        <a href="">Liability</a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody ng-show="result.length === 0">
                                    <tr style="text-align: center; vertical-align: middle">
                                        <td colspan="7">
                                            <div class="loader" style="text-align: center;"
                                                 ng-show="showLoader"></div>
                                        </td>
                                        <td colspan="7" ng-show="!showLoader">No data</td>
                                    </tr>
                                </tbody>
                                <tbody ng-show="result.length !== 0">
                                <tr style="text-align: center; vertical-align: middle" ng-repeat="r in result" ng-show="result.length != 0">
                                    <td style="font-weight: 900">{{r.month}}</td>
                                    <td>{{r.revenue}}</td>
                                    <td>{{r.spent}}</td>
                                    <td>{{r.profit}}</td>
                                    <td>{{r.bonus}}</td>
                                    <td>
                                        <p ng-repeat="p in r.paid" style="font-size: 12px; margin-bottom: 0">
                                            {{p.sum}} {{p.code}} {{formatViewDate(p.date)}}
                                        </p>
                                    </td>
                                    <td>{{r.liability}}</td>
                                </tr>
                                <tr style="text-align: center; vertical-align: middle">
                                    <td>Total</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{total.bonus}}</td>
                                    <td>{{total.paidTotal}}</td>
                                    <td>{{total.liability}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>