<div ng-controller="planByBuyerController" ng-init="loadplans();" class="main-panel">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-minimize">
                <button class="btn btn-fill btn-icon" onclick="sidebarChange()"><i class="ti-menu"></i></button>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand">
                    Plan By Buyer
                </a>
            </div>
        </div>
    </nav>

    <div class="content content-backdown">
        <div class="row margin-backdown">
            <div class="card">
                <div class="card-header">
                    <div class="pull-right">
                        <button class="btn btn-success btn-md btn-fill btn-sm" ng-click="filterPlans();"
                                style="z-index: 10000; position: relative">
                            Apply
                        </button>
                    </div>
                    <div class="row">
                        <form class="form-inline">
                            <div class="form-group" ng-init="getBuyers();"
                                 style="margin-right:5px;margin-bottom: 3px; margin-left: 15px;">
                                <select ng-hide="hideBuyerSelect" id="buyerSelectPicker" class="selectpicker"
                                        multiple data-style="btn-info btn-fill btn-block btn-sm" data-size="5"
                                        title="Buyer" data-header="Buyers" ng-model="selectedBuyerNames"
                                        style="width: 180%;margin-left: 5px;">
                                    <option class="small-font" ng-repeat="b in buyerNames" data-select-watcher
                                            data-last="{{$last}}" value="{{b.id}}">{{b.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group" style="margin-right:5px;margin-bottom: 3px; margin-left: 10px;">
                                <select id="monthSelectPicker" data-style="btn-info btn-fill btn-block btn-sm"
                                        class="selectpicker" multiple data-size="5" title="Month"
                                        data-header="Month" style="width: 130%;margin-left: 5px;"
                                        ng-model="selectedMonth">
                                    <option class="small-font" ng-repeat="m in dateOptions" data-select-watcher
                                            data-last="{{$last}}" value="{{m}}">{{m}}
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-content table-responsive table-full-width" style="padding: 0 15px 10px 15px;">
                        <table class="table">
                            <thead class="thead-default">
                            <tr style="text-align: center; vertical-align: middle">
                                <th>
                                    <a href="">Month</a>
                                </th>
                                <th>
                                    <a href="">Buyer Name</a>
                                </th>
                                <th>
                                    <a href="">KPI Name</a>
                                </th>
                                <th>
                                    <a href="">KPI Value</a>
                                </th>
                                <th>
                                    <a href="">Executed Amount</a>
                                </th>
                                <th>
                                    <a href="">% Performance</a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="text-align: center; vertical-align: middle;"
                                ng-show="plans.length != 0" ng-repeat="item in plans">
                                <td>{{item.month}}</td>
                                <td>{{item.buyerName}}</td>
                                <td>{{item.kpiName}}</td>
                                <td>{{item.kpiValue}}</td>
                                <td>{{item.sum}} USD</td>
                                <td>{{writePerformance(item.performance, item.sum)}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr ng-show="plans.length == 0">
                                <td colspan="6">
                                    <div class="loader text-center" ng-show="showPlanByBuyerLoader"></div>
                                    <div class="text-center" ng-show="!showPlanByBuyerLoader">No data</div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>