body {
    padding-bottom: 40px;
    background-color: #eee;
}

#formBlock {
    margin-top: 10px;
    margin-bottom: -10px;
}

#navbar {
    margin-top: -10px;
    color: white;
}

#applyBtn, #exportBtn, #postBtn {
    width: 84px;
    height: 33px;
}

.nav > li > a, .nav > li > a {
    padding-bottom: 5px !important;
    cursor: pointer;
}

.nav li a, .nav li a {
    cursor: pointer;
}

.nav li a:focus, .nav li a:hover {
    background: none !important;
}

.navbar-nav > li > .dropdown-menu a {
    color: white;
}

.navbar-nav > li > .dropdown-menu {
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background: none !important;
}

#pagination {
    margin-top: 200px;
}

#navbarCustom {
    min-height: 30px;
    height: 30px;
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
    margin-bottom: 30px;
}

#enter-login-btn, #forgot-password-btn {
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

th {
    vertical-align: middle;
    text-align: center;
}

tr {
    vertical-align: middle;
    text-align: center;
}

td {
    vertical-align: middle;
    text-align: center;
}

.tokens {
    min-width: 40px !important;
    width: 50px !important;
    max-width: 60px !important;
}

#payrollDatePicker {
    width: 150px !important;
}

#advertiserName {
    width: 99%;
}

#buyerName {
    width: 99%;
}

#advertiserShortName {
    width: 70%;
}

#buyerPlanProfit, #buyerType {
    width: 70%;
}

#advertiserSecretName {
    width: 69%;
}

#buyerPlanProfitOld {
    width: 69%;
}

#risk {
    width: 92%;
}

#buyerPlanRev, #buyerPlanRevOld {
    width: 92%;
}

#advertiserUrl {
    width: 99%;
}

#buyerComment {
    width: 99%;
}

.editStatus {
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
}

.editStatus:hover {
    color: cornflowerblue;
    transition: 0.1s linear all;
}

.cardForAdvertisers, .cardForAdvertisersData, .cardForAdvertisersStatus,
.cardForConversions, .cardForPayrollsControl, .cardForPayrollsTable,
.cardForBuyers, .cardForBuyersData, .cardForBuyersAfid,
.cardForCostDataReportControl, .cardForCostDataReportTable,
.cardForBuyerCosts, .cardForBuyerCostsTable,
.cardForBuyerPlans, .cardForBuyerPlansTable,
.cardForKPIControl, .buyerDetailsCard,
.adminDashboardCard, .cardForCostManagementControl,
.cardForCostManagementTable {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.cardForCostDataReportTable {
    margin: 10px 25px 25px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForBuyerCostsTable {
    margin: 10px 25px 25px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForBuyerPlansTable {
    margin: 44px 25px 25px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.buyerDetailsCard {
    margin: 44px 25px 25px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.adminDashboardCard {
    margin: 44px 25px 25px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForPayrollsTable {
    margin: 10px 25px 25px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForCostManagementTable {
    margin: 10px 25px 25px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForPayrollsControl {
    margin: 55px 25px 25px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForCostManagementControl {
    margin: 55px 25px 25px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForKPIControl {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;

    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForCostDataReportControl {
    margin: 55px 25px 25px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForBuyerCosts {
    margin: 55px 25px 25px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForBuyerPlans {
    margin: 55px 25px 25px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForConversions {
    margin: 55px 25px 25px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForAdvertisers {
    margin-top: 20px;
    height: 460px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForBuyers {
    margin-top: 20px;
    height: 400px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForAdvertisersData {
    margin-top: 20px;
    height: 460px;
    padding-top: 1px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForBuyersData {
    margin-top: 20px;
    height: 400px;
    padding-top: 1px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForAdvertisersStatus {
    margin-top: 20px;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    height: 460px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.cardForBuyersAfid {
    max-height: 400px;
    margin-top: 20px;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: white;
}

.navbar .navbar-nav li a {
    margin: 5px 0px !important;
}

.navbar .navbar-nav > li > a.btn.btn-sm, .btn-sm {
    border-radius: 0px !important;
}

.btn, .navbar .navbar-nav > li > a.btn {
    border-radius: 0px !important;
    padding: 6px 10px !important;
}

#navForLogout {
    margin-top: -10px;
}

.navbar .navbar-nav > li > a.btn.btn-info.disabled, .navbar .navbar-nav > li > a.btn.btn-info.disabled:hover,
.navbar .navbar-nav > li > a.btn.btn-info.disabled:focus, .navbar .navbar-nav > li > a.btn.btn-info.disabled.focus,
.navbar .navbar-nav > li > a.btn.btn-info.disabled:active, .navbar .navbar-nav > li > a.btn.btn-info.disabled.active,
.navbar .navbar-nav > li > a.btn.btn-info:disabled, .navbar .navbar-nav > li > a.btn.btn-info:disabled:hover, .navbar
.navbar-nav > li > a.btn.btn-info:disabled:focus, .navbar .navbar-nav > li > a.btn.btn-info:disabled.focus,
.navbar .navbar-nav > li > a.btn.btn-info:disabled:active, .navbar .navbar-nav > li > a.btn.btn-info:disabled.active,
.navbar .navbar-nav > li > a.btn.btn-info[disabled], .navbar .navbar-nav > li > a.btn.btn-info[disabled]:hover,
.navbar .navbar-nav > li > a.btn.btn-info[disabled]:focus, .navbar .navbar-nav > li > a.btn.btn-info[disabled].focus,
.navbar .navbar-nav > li > a.btn.btn-info[disabled]:active, .navbar .navbar-nav > li > a.btn.btn-info[disabled].active,
fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-info, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-info:hover,
fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-info:focus, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-info.focus,
fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-info:active, fieldset[disabled] .navbar .navbar-nav > li > a.btn.btn-info.active,
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled.focus, .btn-info.disabled:active,
.btn-info.disabled.active, .btn-info:disabled, .btn-info:disabled:hover, .btn-info:disabled:focus, .btn-info:disabled.focus,
.btn-info:disabled:active, .btn-info:disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus,
.btn-info[disabled].focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info.focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
    border-color: #68B3C8;
    color: #68B3C8;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 6px 12px !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
    min-width: 10px !important;
    max-width: 102px !important;
}

.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    min-width: 10px !important;
    max-width: 100px !important;
}

.table > thead > tr > th > a {
    min-width: 10px !important;
    width: 60px !important;
    max-width: 100px !important;
}

.table > tbody > td {
    max-width: 100px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    white-space: nowrap;
    overflow: hidden;
}

.table > thead > tr > th#offerNameHeader,
.table > tbody > tr > th#offerNameHeader,
.table > tfoot > tr > th#offerNameHeader {
    min-width: 20px !important;
    max-width: 130px !important;
}

.table > thead > tr > td#buyerRow,
.table > tbody > tr > td#buyerRow,
.table > tfoot > tr > td#buyerRow,
.table > thead > tr > td#offerNameRow,
.table > tbody > tr > td#offerNameRow,
.table > tfoot > tr > td#offerNameRow,
.table > thead > tr > td.tokenTRow,
.table > tbody > tr > td.tokenTRow,
.table > tfoot > tr > td.tokenTRow {
    min-width: 20px !important;
    max-width: 140px !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    margin: 10px 0 15px !important;
}

#selectAdvertisers {
    height: 335px;
    width: 100%;
}

#selectBuyers {
    height: 275px;
    width: 100%;
}

.dropdown-menu::before,
.dropdown-menu::after {
    border: none !important;
    content: none !important;
}

.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}

.testimonial-group > .row > .col-md-12 > table {
    display: inline-block;
    float: none;
}

/*.testimonial-group > .row > .col-xs-4 {*/
/*display: inline-block;*/
/*float: none;*/
/*}*/
.loader {
    margin: auto;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#buyerSelectPicker > .dropdown-toggle {
    width: 210px !important;
}

#monthSelectPicker > .dropdown-toggle {
    width: 150px !important;
}

.bootstrap-select > .dropdown-toggle {
    width: 110px !important;
}

datepicker, .datepicker, [datepicker], ._720kb-datepicker-calendar-header,
._720kb-datepicker-calendar-body, ._720kb-datepicker-calendar-days-header,
._720kb-datepicker-calendar-years-pagination-pages {
    float: none !important;
}

.bootstrap-select.btn-group .dropdown-menu {
    min-width: 4% !important;
}

.buyersCostsTable, .buyersCostsTable > th, .buyersCostsTable > td {
    text-align: center;
    vertical-align: middle;
}

.pre-scrollable {
    max-height: 305px !important;
}

datepicker,
.datepicker, [datepicker],
._720kb-datepicker-calendar-header, ._720kb-datepicker-calendar-body,
._720kb-datepicker-calendar-days-header,
._720kb-datepicker-calendar-years-pagination-pages {
    width: 18%!important;
}